{% extends 'header.html' %}
{% block content %}
<div class="row">
    <form class="col s12" method="get">
        {% csrf_token %}
        {{ breed_selection_form.as_p }}
        <button class="btn waves-effect waves-light" type="submit">Search</button>
    </form>
</div>
{% if search_result %}
{% for result in search_result.message %}
<img src="{{result}}" class="col s12" width="500" height="600">
{% endfor %}
{% endif %}


<script>
$(document).ready(function(){
    $('select').formSelect();
  });
</script>
{% endblock content %}