{% extends 'header.html' %}
{% block content %}
<form class="col s12" method="post">
    <div class="input-field col s12">
        <select>
            <option value="" disabled selected>Choose Breed</option>
            {% for breed in breeds %}
            <option value={{breed}}>{{breed}}</option>
            {% endfor %}
        </select>
        <label>Breed</label>
    </div>
    <button class="btn waves-effect waves-light" type="submit">Search</button>
</form>
<script>
$(document).ready(function(){
    $('select').formSelect();
  });
</script>
{% endblock content %}